#!/bin/bash

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# List all files
# -l: Use a long listing format
# -a: List all entries including those starting with a dot .
# -h: Print sizes in human readable format (e.g., 1K 234M 2G)
alias la="ls -lah"

# List only directories
alias lsd="ls -lh | grep '^d'"

# IP addresses
alias localip="ipconfig getifaddr en0"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# http requests (https://httpie.org/)
for method in GET get POST post PUT put DELETE delete; do
  alias "${method}"="http '${method}'"
done

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# List declared aliases
alias aliases="alias | sed 's/=.*//'"

# List declared functions
alias functions="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"

# List declared PATH entries
alias path='echo -e ${PATH//:/\\n}'

# Docker aliases
alias wipedockerimages='docker rmi -f $(docker images -f "dangling=true" -q)'
alias wipedockervolumes='docker volume rm $(docker volume ls -qf dangling=true)'
alias wipedockercontainers='docker stop $(docker ps -aq) && docker rm $(docker ps -aq)'
alias wipedocker='wipe_docker'

# Date aliases
alias today="date +%Y-%m-%d"

# yarn watch tests
alias ytw="yarn test --watch" 

# yarn test coverage
alias ytc="yarn coverage" 

# open configuration files
alias openaliases="$EDITOR $HOME/.aliases"
alias openexports="$EDITOR $HOME/.exports"
alias openextras="$EDITOR $HOME/.extras"
alias openfunctions="$EDITOR $HOME/.functions"
alias openzshrc="$EDITOR $HOME/.zshrc"

### Sufix aliases 
# alias -s extension=name-of-the-tool-to-open-the-fiel

# Markdown files
alias -s md=code

# JSON files
alias -s json=code

# bulk association
alias -s {cs,ts,html,txt,csv,yml,yaml}=code

### macOS aliasses
if [[ $OSTYPE == darwin* ]]; then
  alias flush='dscacheutil -flushcache'

  # Apps
  alias browse="open -a /Applications/Google\ Chrome.app"
  
  alias atomicmoney="browse http://atomicmoney.app"
  alias github="browse https://github.com/mersocarlin"
  alias mersocarlin="browse https://mersocarlin.com"
  
fi