#!/usr/bin/env zsh

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# List all files
# -l: Use a long listing format
# -a: List all entries including those starting with a dot .
# -h: Print sizes in human readable format (e.g., 1K 234M 2G)
alias la="ls -lah"

# List only directories
alias lsd="ls -lh | grep '^d'"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# http requests (https://httpie.org/)
for method in GET get POST post PUT put DELETE delete; do
  alias "${method}"="http '${method}'"
done

# Reload the shell
alias reload="exec zsh"

# List declared aliases
alias aliases="alias | sed 's/=.*//'"

# List declared functions
alias functions="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"

# List declared PATH entries
alias path='echo -e ${PATH//:/\\n}'

# Docker aliases
alias wipedockerimages='docker rmi -f $(docker images -f "dangling=true" -q)'
alias wipedockervolumes='docker volume rm $(docker volume ls -qf dangling=true)'
alias wipedockercontainers='docker stop $(docker ps -aq) && docker rm $(docker ps -aq)'
alias wipedocker='wipe_docker'

# Date aliases
alias today="date +%Y-%m-%d"

# open configuration files
alias openaliases="$EDITOR $HOME/.aliases"
alias openexports="$EDITOR $HOME/.exports"
alias openextras="$EDITOR $HOME/.extras"
alias openfunctions="$EDITOR $HOME/.functions"
alias openzshrc="$EDITOR $HOME/.zshrc"

### Suffix aliases
# Typing a filename at the prompt opens it with open_file (see .functions).
alias -s {cs,csv,html,json,md,ts,txt,yml,yaml}=open_file
