#!/bin/bash

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

function wipe_docker() {
  echo "-> Removing images"
  wipedockerimages
  echo "-> Removing containers"
  wipedockercontainers
  echo "-> Removing volumes"
  wipedockervolumes
}

##
# Calculate date from today
# Sample usage:
# 	- from_today 7d (7 days from now)
# 	- from_today 7w (7 weeks from now)
# 	- from_today 7m (7 months from now)
# 	- from_today 7y (7 years from now)
##
function from_today() {
	date -j -v+$1 +%Y-%m-%d
}

##
# Compress muted videos by ~90%
# Sample usage:
# 	- compress_video input.mp4 output.mp4
##
function compress_video() {
	ffmpeg -i $1 -vcodec libx264 -crf 28 $2
	rm $1
}
